body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #f8f8f8;
}

.form-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

h3 {
    margin: 0 0 20px;
    text-align: center;
    color: #a11300;
    text-decoration: underline;
}

label {
    display: block;
    margin: 10px 0;
}

input, select, textarea {
    width: 98%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

input.gender-input {
    width:auto;
}

.form-container .gender {
    display: inline-block;
    margin-right: 15px;
}

select.qualification {
    width: auto;
    padding: 0px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px; 
}

button {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 18px;
    background-color: #a11300;
    color: white;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;

}

